.card {
    border: 2px solid transparent; 
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación en hover */
    background: transparent;
    height: 36vh;
  }
  
  .card:hover {
    transform: scale(1.05); /* Efecto de crecimiento en hover */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15), 0px 4px 6px rgba(0, 0, 0, 0.10);
    border-color: #4caf50;
  }
  
  .card-img-top {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 19px 4px chocolate;
    border-radius: 15px;
    height: 200px;
    object-fit: cover; /* Ajustar imagen dentro del contenedor */
  }
  
  .card-body {
    padding: 1.5rem;
    background: transparent;
    color: #fff;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card-text {
    font-size: 0.9rem;
    text-align: justify;
    margin-top: 0.5rem;
    opacity: 0.8;
  }

  .card-link {
    text-decoration: none; /* Elimina subrayados */
    color: inherit; /* Mantiene el color de texto original */
    display: block; /* Asegura que el enlace ocupe toda la tarjeta */
  }  
  
  .btn-close-white {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .btn-close-white:hover {
    background-color: #388e3c; /* Color más oscuro en hover */
  }
  