/* Estilos específicos para las tarjetas en CharacterList, VehicleList y PlanetList */
.CharacterList .card-img-top,
.VehicleList .card-img-top,
.PlanetList .card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
/* Estilos específicos para listas */
.List-content .card {
  position: relative;
  border: 2px solid transparent;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #ffffff; /* Fondo blanco para listas */
  height: auto;
}

.List-content .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15), 0px 4px 6px rgba(0, 0, 0, 0.10);
  border-color: #4caf50; /* Color del borde en hover */
}

.List-content .card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0;
}

.List-content .card-body {
  padding: 1rem;
  color: #333; /* Texto oscuro */
}

.List-content .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.List-content .btn {
  font-size: 0.9rem;
}
